@value space: 16px;

@value mirage: #202040;
@value voodoo: #543864;
@value bitterSweet: #ff6363;
@value koromiko: #ffbd69;

.grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10vw);
  grid-auto-rows: 11.547vw;
  width: 100vw;
}

.gridSide {
  composes: grid;
  transform-origin: 0 0;
  transform: skewY(-30deg);
}

.gridFront {
  composes: grid;
  transform-origin: 100% 0;
  transform: skewY(30deg);
}

.gridFront div {
  text-align: center;
}

.gridTop {
  composes: grid;
  transform-origin: 500vw 0;
  width: 600vw;
  transform: translatex(-500vw) rotatez(-60deg) skewY(30deg);
}

.gridTop div {
  text-align: right;
}

.window {
  border: voodoo 2vw solid;
  background-color: koromiko;
  box-shadow: 0px 8px 40px -6px rgba(255, 189, 105, 0.4);
}

.floor {
  background-color: mirage;
}

.roof {
  background-color: voodoo;
}

.wallA {
  background-color: mirage;
}
