@value vulcanApprox from '../../assets/colors.css';
@value whiteColor from '../../assets/colors.css';

.baseBackground {
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  min-height: 100%;
  width: 100%;
  letter-spacing: 1.4px;
  overflow-x: hidden;
}

.daylightBackground {
  composes: baseBackground;
  background: whiteColor;
}

.midnightBackground {
  composes: baseBackground;
  background: vulcanApprox;
}

@media screen and (min-width: 750px) {
  .baseBackground {
    scroll-snap-align: start;
  }
}
