@value vulcanApprox from '../../colors/colors.css';
@value whiteColor from '../../colors/colors.css';

.baseBackground {
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.daylightBackground {
  composes: baseBackground;
  background: whiteColor;
}

.midnightBackground {
  composes: baseBackground;
  background: vulcanApprox;
}

.animation {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
