@value whiteColor, mineShaft from '../../colors/colors.css';
@value space: 16px;

.indexContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.knobContainer {
  display: flex;
  justify-content: flex-end;
}

.greetingsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 0 calc(space * 2);
}

.greetingsContainer div {
  /* margin-bottom: 40px; */
}

.darkGreetingsContainer {
  composes: greetingsContainer;
  color: whiteColor;
}

.lightGreetingsContainer {
  composes: greetingsContainer;
  color: mineShaft;
}