@value mineShaftApprox from '../../colors/colors.css';
@value whiteColor from '../../colors/colors.css';
@value mineShaft from '../../colors/colors.css';
@value mercury from '../../colors/colors.css';
@value tundora from '../../colors/colors.css';
@value vulcanApprox from '../../colors/colors.css';
@value goldYellow from '../../colors/colors.css';
@value silverApprox from '../../colors/colors.css';
@value jade from '../../colors/colors.css';
@value space: 16px;

.container {
  height: 100%;
}

.lightContainer {
  composes: container;
  color: mineShaft;
  background-color: mercury;
}

.darkContainer {
  composes: container;
  background-color: mineShaftApprox;
  color: whiteColor;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 calc(space * 2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 0.1;
}

.header span:first-child {
  font-size: 2em;
  font-weight: bold;
}

.viewAllLink {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.viewAllLink:hover {
  -webkit-animation: pulse ease 0.8s infinite;
}

.lightViewAllLink {
  composes: viewAllLink;
  color: mineShaft;
}

.darkViewAllLink {
  composes: viewAllLink;
  color: silverApprox;
}

.projectContainer {
  flex: 0.9;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: space;
  padding: calc(space * 2) 0;
}

.project {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.lighProject {
  composes: project;
  background-color: whiteColor;
}

.darkProject {
  composes: project;
  background-color: tundora;
}

.description {
  flex: 0.8;
  background-color: vulcanApprox;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: space space;
  color: silverApprox;
}

.sub {
  flex: 0.2;
  display: flex;
  align-items: center;
  padding: space space;
}

.name {
  flex: 0.8;
}

.lightName {
  composes: name;
  color: mineShaft;
}

.darkName {
  composes: name;
  color: mercury
}

.projectLink {
  flex: 0.2;
  color: mercury;
  cursor: pointer;
}

@keyframes pulse {
  to {
    color: jade;
  }
}

@media screen and (min-width: 600px) {
  .projectContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(space * 2);
    padding: calc(space * 2) 0;
  }
  .description {
    justify-content: center;
  }
}