@value goldYellow from '../../assets/colors.css';
@value mineShaft from '../../assets/colors.css';
@value blackColor from '../../assets/colors.css';
@value whiteColor from '../../assets/colors.css';

.logoContainer {
  font-size: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  position: relative;
}

.inputToggle {
  height: 32px;
  width: 32px;
  position: absolute;
  padding: 0;
  opacity: 0;
}

.inputToggle:focus + .lightLabel {
  outline: 1px solid blackColor;
}

.inputToggle:focus + .darkLabel {
  outline: 1px solid whiteColor;
}

.lightLogoContainer {
  composes: logoContainer;
  color: mineShaft;
}

.darkLogoContainer {
  composes: logoContainer;
  color: goldYellow;
}

.logoContainerAnimation {
  composes: logoContainer;
  animation-name: spin;
  animation-duration: 1s;
}

.lightAnimation {
  composes: logoContainer;
  composes: logoContainerAnimation;
  color: goldYellow;
}

.darkAnimation {
  composes: logoContainer;
  composes: logoContainerAnimation;
  color: mineShaft;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
