@import "./fonts.css";
@value whiteColor, mineShaft, mercury from './colors.css';
@value space: 16px;

.indexContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.knobContainer {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.greetingsContainer {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  justify-content: center;
}

.greetingsContainer h1 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.greetingsContainer h2 {
  font-family: monospace, sans-serif;
  font-weight: normal;
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}
.greetingsContainer h2 > p {
  margin-bottom: 0;
}

.darkGreetingsContainer {
  composes: greetingsContainer;
  color: mercury;
}

.lightGreetingsContainer {
  composes: greetingsContainer;
  color: mineShaft;
}

.square {
  flex: 0.6;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 860px) {
  .wrapper {
    flex-direction: row;
  }
  .greetingsContainer {
    padding: 0 calc(space * 2);
    width: 500px;
    margin-bottom: 10em;
    align-self: center;
  }
  .knobContainer {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .greetingsContainer {
    text-align: left;
  }
  .greetingsContainer h1 {
    font-size: 36px;
  }
  .greetingsContainer h2 > p {
    font-size: 16px;
  }
}
