@import "./fonts.css";
@value vulcanApprox from './colors.css';
@value whiteColor from './colors.css';
@value mineShaft from './colors.css';
@value mercury from './colors.css';
@value tundora from './colors.css';
@value vulcanApprox from './colors.css';
@value goldYellow from './colors.css';
@value silverApprox from './colors.css';
@value bermuda from './colors.css';
@value js, ts from './colors.css';
@value space: 16px;

.container {
  flex-grow: 1;
}

.lightContainer {
  composes: container;
  color: mineShaft;
  background-color: mercury;
  background: repeating-linear-gradient(
    135deg,
    mercury,
    mercury,
    5px,
    whiteColor 0,
    whiteColor 10px
  );
}

.darkContainer {
  composes: container;
  background-color: vulcanApprox;
  background: repeating-linear-gradient(
    135deg,
    vulcanApprox,
    vulcanApprox,
    5px,
    #282828 0,
    #282828 10px
  );
  color: whiteColor;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 calc(space * 2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-top: space;
  font-family: Montserrat, sans-serif;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.header span {
  margin-bottom: 4.2px;
}

.viewAllLink {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.viewAllLink:hover {
  -webkit-animation: pulse ease 0.8s infinite;
}

.lightViewAllLink {
  composes: viewAllLink;
  color: mineShaft;
}

.darkViewAllLink {
  composes: viewAllLink;
  color: silverApprox;
}

.lightHeader {
  composes: header;
  color: mineShaft;
}

.darkHeader {
  composes: header;
  color: mercury;
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: calc(space * 2);
  padding: calc(space * 2) 0;
  height: 100%;
}

.project {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.2) 0px 4px 6px -2px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: monospace, sans-serif;
}

.project:hover {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  transition: all 0.4s;
}

.lighProject {
  composes: project;
  background-color: whiteColor;
  color: mineShaft;
}

.darkProject {
  composes: project;
  background-color: vulcanApprox;
  color: whiteColor;
}

.description {
  flex: 1;
  background-color: vulcanApprox;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: space space;
  text-decoration: none;
  font-size: 14px;
  margin: 0;
}

.description p {
  margin: 0;
}

.darkDescription {
  composes: description;
  background-color: vulcanApprox;
  color: mercury;
}

.lightDescription {
  composes: description;
  background-color: whiteColor;
  color: mineShaft;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: space space;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
}

.sub h2 {
  margin: 0;
  font-size: 16px;
}

.lightName {
  color: mineShaft;
}

.darkName {
  color: mercury;
}

.language {
  display: flex;
  align-items: center;
}

.ball {
  width: 14px;
  height: 14px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 4px;
}

.jsBall {
  composes: ball;
  background-color: js;
}

.tsBall {
  composes: ball;
  background-color: ts;
}

.neverBall {
  composes: ball;
  background-color: wheat;
}

@keyframes pulse {
  to {
    color: goldYellow;
  }
}

@media screen and (min-width: 600px) {
  .projectContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(space * 2);
    padding: calc(space * 2) 0;
  }
  .description {
    justify-content: center;
  }
  .header h1 {
    font-size: 36px;
  }
  .viewAllLink {
    font-size: 16px;
  }
}
